h1{
    text-align: center;
    background-color: rgb(148, 63, 228);

}

 th{
     text-align: center;
     background-color: rgb(91, 91, 221);
 }
  td{
      text-align: center;
      background-color: rgb(146, 251, 251);
  }

  div{
      text-align: center;
      background-color: black;
  }

  p{
    text-align: center;  
    background-color: rgb(255, 5, 5);

  }
   
  body{
    text-align: center;   
    color: blue;  
    background-color: blanchedalmond;
  }

